* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
}

/* colonna sx */
.col_sx {
    width: 200px;
    height: calc(100vh - 80px);
    background-color: black;
}

.container_col {
    height: calc(100vh - 80px);
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

/* parte in alto colonna*/
.logo{
    width: 70%;
    margin-bottom: 20px;
}

.tiny_logo {
    display: none;
}

.item {
    margin-bottom: 10px;
}

.item a {
    color: gray;
    text-decoration: none;
}

.item i {
    font-size: 25px;
}

.item span {
    font-size: 13px;
    vertical-align: super;
    margin-left: 5px;
}

/* playlist */
.col_sx h5 {
    color: white;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#add {
    font-size: 40px;
}

.playlist {
    color: gray;
    font-size: 13px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.scroll_playlist {
    overflow: auto;
    height: 70%;
}

.overflow_hidden {
    overflow: hidden;
}

/* comando per tasti bianchi quando hover */
a:hover {
    color: white;
}

.install:hover {
    color: white;
}

.song_name {
    text-decoration: none;
}

.song_name span:hover {
    text-decoration: underline;
}

/* parte in basso colonna */
.col_bot {
    margin-bottom: 10px;
    padding-top: 15px;
}

.col_bot a{
    font-size: 13px;
    color: gray;
    text-decoration: none;
}

.col_bot hr {
    border: 1px solid gray;
    margin-bottom: 10px;
    margin-right: 15px;
}

#user i {
    font-size: 20px;
}

#user span {
    font-size: 15px;
    color: white;
    vertical-align: 2px;
}

/* main */
main {
    width: calc(100vw - 200px);
    height: calc(100vh - 80px);
    background-color: #141922;
    position: relative;
}

/* header */
.header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    width: calc(100vw - 200px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.update {
    color: white;
    border: white solid 1px;
    border-radius: 20px;
    font-size: 11px;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 5px;
}

.update:hover {
    font-size: 13px;
}

/* parte del corpo che scorre */
.container_main {
    width: calc(100vw - 200px);
    height: calc(100vh - 80px);
    overflow: scroll;
    padding-top: 80px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: gray;
    font-size: 13px;
    margin-right: 10px;
}

.container_main h2 {
    color: white;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.product {
    color: white;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 15%;
}

.product img {
    width: 100%;
}

.product h3 {
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
}

.product span {
    font-size: 11px;
    color: gray;
}

/* creato per john */
#title-1-2 {
    margin-bottom: 7px;
}

.description {
    color: gray;
    font-size: 11px;
    margin-bottom: 20px;
}

/* artisti più popolari */
#round {
    border-radius: 50%;
}

/* comandi hover main */
.hover_main_container {
    position: relative;
}

.hover_main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.hover_main_container:hover .hover_main {
    opacity: 1;
}

.hover_main_container:hover .image {
    opacity: 0.3;
}

/* footer */
.footer {
    height: 80px;
    width: 100%;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px 10px;
    overflow: hidden;
}

.row_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img_player {
    width: 50px;
}

.vertical_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 50%;
}

.vertical_flex h5 {
    color: white;
}

.vertical_flex span {
    color: gray;
    font-size: 11px;
}

.row_flex i {
    color: gray;
}

.button_margin {
    padding-left: 10px;
}

#white {
    color: white;
    margin-right: 20px;
    font-size: 15px;
}

#play {
    color: white;
    margin-left: 25px;
    margin-right: 35px;
    font-size: 30px;
}

#tiny_white {
    color: white;
    margin-right: 10px;
    font-size: 13px;
}

.player {
    padding-top: 5px;
    padding-bottom: 5px;
}

.player span {
    vertical-align: auto;
}

.play_bar {
    margin-left: 15px;
    margin-right: 15px;
}

.song-slider{
    width: 45vw;
    position: relative;
}

.seek-bar{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

/* media queries */
@media screen and (max-width: 1000px) {
    .product {
        width: 25%;
    }
}

@media screen and (max-width: 700px) {
    .product {
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    .col_sx {
        width: 50px;
    }

    .container_col {
        padding-left: 10px;
        padding-right: 10px;
    }

    .item span {
        display: none;    
    }

    .scroll_playlist {
        display: none;
    }

    .col_bot span {
        display: none;
    }

    .col_bot hr {
        display: none;
    }

    .logo{
        display: none;
    }
    
    .tiny_logo {
        display: block;
        width: 90%;
        margin-bottom: 30px;
    }

    main {
        width: calc(100vw - 50px);
    }

    .container_main {
        width: calc(100vw - 50px);
    }

    .product {
        width: 40%;
    }

    .header {
        width: calc(100vw - 50px);
    }
}